<div class="entry-container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-12 col-sm-12">
      <img class="col-md-4 col-lg-4 col-sm-4 col-4 login-logo" src="../../../../assets/images/green-cube-logo/bms_logo.png" alt="green-cube-logo">
      <img class="col-md-8 col-lg-8 col-sm-8 col-4 login-img" src="../../../../assets/images/login-enter-logo/login-img.png" alt="green-cube-logo">
    </div>
    <div class="col-md-6 col-lg-6 col-12 col-sm-12">
      <form class="entry-content-block col-md-8 col-lg-8 col-10 col-sm-10" [formGroup]="changePasswordForm" (submit)="onSubmit()">
        <div class="row block-1">
          <div><span class='login-span-1'>Change Password </span></div>
        </div>
        <div class="row block-2 mtb-40">
          <div class="col-md-12 col-lg-12">
            <input type="{{newPasswordType}}" id="newPwd" class="col-md-12 col-lg-12" formControlName="newPassword"
              name="newPwd" placeholder="New Password">
            <i class="fa fa-eye" *ngIf="showNewPassword" (click)="showHidePwd('password', 'new')"></i>
            <i class="fa fa-eye-slash" *ngIf="!showNewPassword" (click)="showHidePwd('text' , 'new')"></i>
          </div>
          <div class="input-error-msg">
            <div
              *ngIf="validationControl.newPassword.errors && (validationControl.newPassword.touched && validationControl.newPassword.dirty)">
              <div [hidden]="!validationControl.newPassword.errors?.required">New Password field required
              </div>
              <div [hidden]="!validationControl.newPassword.errors?.pattern">Password should contain atleast one special character.
              </div>
              <div [hidden]="!validationControl.newPassword.errors?.minlength">Password should contain mininum 8 characters.
                </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 mt-20">
            <input type="{{confirmPasswordType}}" formControlName="confirmPassword" id="confirmPwd"
              class="col-md-12 col-lg-12" name="confirmPwd" placeholder="Confirm Password">
            <i class="fa fa-eye" *ngIf="showConfirmPassword" (click)="showHidePwd('password', 'confirm')"></i>
            <i class="fa fa-eye-slash" *ngIf="!showConfirmPassword" (click)="showHidePwd('text', 'confirm')"></i>
          </div>
          <div class="input-error-msg">
            <div>
              <!-- *ngIf="validationControl.confirmPassword.errors && (validationControl.confirmPassword.touched && validationControl.confirmPassword.dirty)"> -->
              <!-- <div [hidden]="!validationControl.confirmPassword.errors?.required">Confirm Password field required
              </div> -->
              <div *ngIf="validationControl.confirmPassword.touched && changePasswordForm.errors?.invalid">Password does not match
                </div>
            </div>
           
            
          </div>
        </div>
        <div class="row block-3 mt-40">
          <div class="col-md-6 col-lg-6 col-sm-6 col-6">
            <div class="col-md-10 col-lg-10 col-sm-10 col-10">
              <div class="login-route-link cursor-pointer" [routerLink]="['/login']">
                <i class="fa fa-arrow-left mr-10"></i>Cancel</div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-6">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
              <button class="pull-right col-md-11 col-lg-11" type="submit" [disabled]="!changePasswordForm.valid">
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="footer-block col-sm-12 col-md-12 col-lg-12 txt-center">
        <span class="font-weight-light">Copyright 2019</span><span class="plr-6">Maestro</span>
      </div>
    </div>
  </div>
</div>