@import "../../../utils/styles/colors.scss";
@import "../../../utils/styles/mixin.scss";

.create-edit-wrapper {
  width: 100%;
  padding: 20px;
  >div:first-child {
    height: 40px;
    margin-bottom: 20px;

    .create-span {
      cursor: pointer;
      height: 40px;
      // font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: 1px;
      text-align: left;
      @include generate-text(  $header-text-primary, 30px );
      @media screen and (max-width : 1100px){
        @include generate-text(  $header-text-primary, 16px );
         }
    
    }

    .create-span1 {
      height: 40px;
      // font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: 1px;
      text-align: left;
      @include generate-text( $active-clr-primary, 30px );
      @media screen and (max-width : 1100px){
        @include generate-text(  $active-clr-primary, 16px );
         }
   
    }

  }

  .reset-view {
    >div:nth-child(1) {
    form {
      .error-text{
        // font-family: Lato;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: 0.9px;
        text-align: left;
        font-size :16px;

      }
    >div:nth-child(4) {
      width: 70%;
     .button-1 {
          background: $clr-white;
          border-radius: 10px;
          border: solid 1px $text-clr-primary;
          color: $clr-black;
          width: 100%;
          height: 40px;
          font-size: 0.7em;
     }

     
        button {
          background: $active-clr-primary;
          outline:0;
          color: $clr-white;
          border: 1px solid $active-clr-primary;
          border-radius: 10px;
          width: 100%;
          height: 40px;
          font-size: 0.7em;
        

      }

    }
  }
}
  }
  
  label {

    height: 22px;
    // font-family: Lato;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 0.9px;
    text-align: left;
     @include generate-text(  $header-text-primary,18px );
  }
  
  input {
    height: 40px;
    // font-family: Lato;
    font-size: 18px;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: left;
    @include generate-text(  $header-text-primary,18px );
  }

  .custom-dropdown{
    padding: 0 !important;
    height: 40px !important;
  }
  .form-control.is-invalid {
    background-image: none;
    
  }
.mt-30 {
    margin-top: 30px;
}
.warning-span{
    // font-family: Lato;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: 0.9px;
        text-align: left;
        @include generate-text(#dc3545,16px );
    }
}
 
 i {
    right: 10px;
    margin-top:-30px;
    position: absolute;
    cursor: pointer;
    color: #aab2bd;
}