<div class="top-layout">
    <div class="path">
        <span class="active-path">Profile</span>
    </div>
</div>
<div class="create-edit-wrapper ">
    <!-- <div>
                <span (click)="backToUserlist()" class="create-span">Reset password </span>


            </div> -->
    <div class="row reset-view">
        <!-- <div class="w-100">
                        <div class="loading-shade" *ngIf="isLoadingResults">
                           <mat-spinner [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
                </div>
                </div> -->
        <div class="col-md-4 col-sm-8 col-12 ">
            <form name="form" class="w-100" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                <div class="form-group">
                    <span class="required">*</span> <label for="userName">Old password</label>
                    <input (keydown.space)="space($event)" type="{{newPasswordType}}" class="form-control" name="userName" [(ngModel)]="model.oldPassword" #oldPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && oldPassword.invalid }" required />
                    <i class="fa fa-eye" *ngIf="showNewPassword" (click)="showHidePwd('password', 'new')"></i>
                    <i class="fa fa-eye-slash" *ngIf="!showNewPassword" (click)="showHidePwd('text' , 'new')"></i>
                    <div *ngIf="f.submitted && oldPassword.invalid" class="invalid-feedback">
                        <div class="error-text" *ngIf="oldPassword.errors.required">Old password is required</div>
                    </div>

                </div>

                <div class="form-group">
                    <span class="required">*</span> <label for="userName">New password</label>
                    <input (keyup)="check()" (keydown.space)="space($event)" type="{{newPasswordType}}" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" pattern="(?=.*[$@$!%*?&]).{8,}"
                        required />
                    <i class="fa fa-eye" *ngIf="showNewPassword" (click)="showHidePwd('password', 'new')"></i>
                    <i class="fa fa-eye-slash" *ngIf="!showNewPassword" (click)="showHidePwd('text' , 'new')"></i>
                    <div *ngIf="f.submitted && newPassword.invalid" class="invalid-feedback">
                        <div class="error-text" *ngIf="newPassword.errors.required">New password is required</div>
                        <div class="error-text" *ngIf="newPassword.errors.pattern">Password should contain atleast 8 charecter and atleast one special charecter</div>
                    </div>

                </div>

                <div class="form-group">
                    <span class="required">*</span> <label for="userName">Confirm password</label>
                    <input (keyup)="check()" (keydown.space)="space($event)" type="{{newPasswordType}}" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }"
                        required />
                    <i class="fa fa-eye" *ngIf="showNewPassword" (click)="showHidePwd('password', 'new')"></i>
                    <i class="fa fa-eye-slash" *ngIf="!showNewPassword" (click)="showHidePwd('text' , 'new')"></i>
                    <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                        <div class="error-text" *ngIf="confirmPassword.errors.required">Confirm password should be same as new password</div>
                    </div>
                    <span class='mr-1 warning-span' *ngIf="show">Confirm password should be same as new password</span>

                </div>



                <div class="form-group d-flex mt-30 ">
                    <button type="button" (click)="backToUserlist()" class="button-1">Cancel</button> &nbsp; &nbsp; &nbsp; &nbsp;
                    <button>Update Password</button>

                </div>
            </form>
        </div>
    </div>
</div>