$light-background: #EBEBEB;
$active-clr-primary: #0091d9;
$header-text-primary: #2e3a57;
$text-clr-primary: #aab2bd;
$text-clr-secondary: #81889b;
$bg-clr-primary: #fefefe;
$clr-black: #000000;
$clr-white: #ffffff;
$info-cart-clr-low: #fe3742;
$cart-info-clr-optimal: #ffcf37;
$cart-info-clr-normal:#27a522;
$cart-discharge-clr:#54d8ff;
$cart-charge-clr:#a3a0fb;
$border-clr: #ededed;
